name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install npm dependencies
        run: |
          npm config set legacy-peer-deps true
          npm install --force

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Make Gradle executable
        run: chmod +x android/gradlew

      - name: Build Android Release (signed)
        run: |
          cd android
          ./gradlew assembleRelease

      - name: Sign app-release.apk
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: android/app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Upload signed APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-signed.apk
          path: ${{ steps.sign_app.outputs.signedReleaseFile }}
